<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript"></script>
    {% include 'flash.html' %}
    <div class="well">
        <h3>{{ _('Please Log In') }}</h3>
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="control-group">
                {{ form.email.label }} {{ form.email(size=20) }}
                {{ form.password.label }} {{ form.password(size=20) }}
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" for="remember_me">
                        {{ form.remember_me }} {{ _('Remember Me') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="{{ _('Log In') }}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
